// FONTS
$mantine-font-family: var(--mantine-font-family);
$mantine-font-family-monospace: var(--mantine-font-family-monospace);
$mantine-font-family-headings: var(--mantine-font-family-headings);
$mantine-heading-font-weight: var(--mantine-heading-font-weight);
$mantine-heading-text-wrap: var(--mantine-heading-text-wrap);
$mantine-font-size-xs: var(--mantine-font-size-xs);
$mantine-font-size-sm: var(--mantine-font-size-sm);
$mantine-font-size-md: var(--mantine-font-size-md);
$mantine-font-size-lg: var(--mantine-font-size-lg);
$mantine-font-size-xl: var(--mantine-font-size-xl);
$mantine-line-height-xs: var(--mantine-line-height-xs);
$mantine-line-height-sm: var(--mantine-line-height-sm);
$mantine-line-height-md: var(--mantine-line-height-md);
$mantine-line-height-lg: var(--mantine-line-height-lg);
$mantine-line-height-xl: var(--mantine-line-height-xl);

// SHADOWS
$mantine-shadow-xs: var(--mantine-shadow-xs);
$mantine-shadow-sm: var(--mantine-shadow-sm);
$mantine-shadow-md: var(--mantine-shadow-md);
$mantine-shadow-lg: var(--mantine-shadow-lg);
$mantine-shadow-xl: var(--mantine-shadow-xl);

// RADIUS
$mantine-radius-default: var(--mantine-radius-default);
$mantine-radius-xs: var(--mantine-radius-xs);
$mantine-radius-sm: var(--mantine-radius-sm);
$mantine-radius-md: var(--mantine-radius-md);
$mantine-radius-lg: var(--mantine-radius-lg);
$mantine-radius-xl: var(--mantine-radius-xl);

// SPACING
$mantine-spacing-xs: var(--mantine-spacing-xs);
$mantine-spacing-sm: var(--mantine-spacing-sm);
$mantine-spacing-md: var(--mantine-spacing-md);
$mantine-spacing-lg: var(--mantine-spacing-lg);
$mantine-spacing-xl: var(--mantine-spacing-xl);
$mantine-breakpoint-xs: var(--mantine-breakpoint-xs);
$mantine-breakpoint-sm: var(--mantine-breakpoint-sm);
$mantine-breakpoint-md: var(--mantine-breakpoint-md);
$mantine-breakpoint-lg: var(--mantine-breakpoint-lg);
$mantine-breakpoint-xl: var(--mantine-breakpoint-xl);

// COLORS
$mantine-primary-color-filled: var(--mantine-primary-color-filled);
$mantine-primary-color-filled-hover: var(--mantine-primary-color-filled-hover);
$mantine-primary-color-light: var(--mantine-primary-color-light);
$mantine-primary-color-light-hover: var(--mantine-primary-color-light-hover);
$mantine-primary-color-light-color: var(--mantine-primary-color-light-color);
$mantine-color-white: var(--mantine-color-white);
$mantine-color-black: var(--mantine-color-black);
$mantine-primary-color-0: var(--mantine-primary-color-0);
$mantine-primary-color-1: var(--mantine-primary-color-1);
$mantine-primary-color-2: var(--mantine-primary-color-2);
$mantine-primary-color-3: var(--mantine-primary-color-3);
$mantine-primary-color-4: var(--mantine-primary-color-4);
$mantine-primary-color-5: var(--mantine-primary-color-5);
$mantine-primary-color-6: var(--mantine-primary-color-6);
$mantine-primary-color-7: var(--mantine-primary-color-7);
$mantine-primary-color-8: var(--mantine-primary-color-8);
$mantine-primary-color-9: var(--mantine-primary-color-9);
$mantine-color-dark-0: var(--mantine-color-dark-0);
$mantine-color-dark-1: var(--mantine-color-dark-1);
$mantine-color-dark-2: var(--mantine-color-dark-2);
$mantine-color-dark-3: var(--mantine-color-dark-3);
$mantine-color-dark-4: var(--mantine-color-dark-4);
$mantine-color-dark-5: var(--mantine-color-dark-5);
$mantine-color-dark-6: var(--mantine-color-dark-6);
$mantine-color-dark-7: var(--mantine-color-dark-7);
$mantine-color-dark-8: var(--mantine-color-dark-8);
$mantine-color-dark-9: var(--mantine-color-dark-9);
$mantine-color-gray-0: var(--mantine-color-gray-0);
$mantine-color-gray-1: var(--mantine-color-gray-1);
$mantine-color-gray-2: var(--mantine-color-gray-2);
$mantine-color-gray-3: var(--mantine-color-gray-3);
$mantine-color-gray-4: var(--mantine-color-gray-4);
$mantine-color-gray-5: var(--mantine-color-gray-5);
$mantine-color-gray-6: var(--mantine-color-gray-6);
$mantine-color-gray-7: var(--mantine-color-gray-7);
$mantine-color-gray-8: var(--mantine-color-gray-8);
$mantine-color-gray-9: var(--mantine-color-gray-9);
$mantine-color-red-0: var(--mantine-color-red-0);
$mantine-color-red-1: var(--mantine-color-red-1);
$mantine-color-red-2: var(--mantine-color-red-2);
$mantine-color-red-3: var(--mantine-color-red-3);
$mantine-color-red-4: var(--mantine-color-red-4);
$mantine-color-red-5: var(--mantine-color-red-5);
$mantine-color-red-6: var(--mantine-color-red-6);
$mantine-color-red-7: var(--mantine-color-red-7);
$mantine-color-red-8: var(--mantine-color-red-8);
$mantine-color-red-9: var(--mantine-color-red-9);
$mantine-color-pink-0: var(--mantine-color-pink-0);
$mantine-color-pink-1: var(--mantine-color-pink-1);
$mantine-color-pink-2: var(--mantine-color-pink-2);
$mantine-color-pink-3: var(--mantine-color-pink-3);
$mantine-color-pink-4: var(--mantine-color-pink-4);
$mantine-color-pink-5: var(--mantine-color-pink-5);
$mantine-color-pink-6: var(--mantine-color-pink-6);
$mantine-color-pink-7: var(--mantine-color-pink-7);
$mantine-color-pink-8: var(--mantine-color-pink-8);
$mantine-color-pink-9: var(--mantine-color-pink-9);
$mantine-color-grape-0: var(--mantine-color-grape-0);
$mantine-color-grape-1: var(--mantine-color-grape-1);
$mantine-color-grape-2: var(--mantine-color-grape-2);
$mantine-color-grape-3: var(--mantine-color-grape-3);
$mantine-color-grape-4: var(--mantine-color-grape-4);
$mantine-color-grape-5: var(--mantine-color-grape-5);
$mantine-color-grape-6: var(--mantine-color-grape-6);
$mantine-color-grape-7: var(--mantine-color-grape-7);
$mantine-color-grape-8: var(--mantine-color-grape-8);
$mantine-color-grape-9: var(--mantine-color-grape-9);
$mantine-color-violet-0: var(--mantine-color-violet-0);
$mantine-color-violet-1: var(--mantine-color-violet-1);
$mantine-color-violet-2: var(--mantine-color-violet-2);
$mantine-color-violet-3: var(--mantine-color-violet-3);
$mantine-color-violet-4: var(--mantine-color-violet-4);
$mantine-color-violet-5: var(--mantine-color-violet-5);
$mantine-color-violet-6: var(--mantine-color-violet-6);
$mantine-color-violet-7: var(--mantine-color-violet-7);
$mantine-color-violet-8: var(--mantine-color-violet-8);
$mantine-color-violet-9: var(--mantine-color-violet-9);
$mantine-color-indigo-0: var(--mantine-color-indigo-0);
$mantine-color-indigo-1: var(--mantine-color-indigo-1);
$mantine-color-indigo-2: var(--mantine-color-indigo-2);
$mantine-color-indigo-3: var(--mantine-color-indigo-3);
$mantine-color-indigo-4: var(--mantine-color-indigo-4);
$mantine-color-indigo-5: var(--mantine-color-indigo-5);
$mantine-color-indigo-6: var(--mantine-color-indigo-6);
$mantine-color-indigo-7: var(--mantine-color-indigo-7);
$mantine-color-indigo-8: var(--mantine-color-indigo-8);
$mantine-color-indigo-9: var(--mantine-color-indigo-9);
$mantine-color-blue-0: var(--mantine-color-blue-0);
$mantine-color-blue-1: var(--mantine-color-blue-1);
$mantine-color-blue-2: var(--mantine-color-blue-2);
$mantine-color-blue-3: var(--mantine-color-blue-3);
$mantine-color-blue-4: var(--mantine-color-blue-4);
$mantine-color-blue-5: var(--mantine-color-blue-5);
$mantine-color-blue-6: var(--mantine-color-blue-6);
$mantine-color-blue-7: var(--mantine-color-blue-7);
$mantine-color-blue-8: var(--mantine-color-blue-8);
$mantine-color-blue-9: var(--mantine-color-blue-9);
$mantine-color-cyan-0: var(--mantine-color-cyan-0);
$mantine-color-cyan-1: var(--mantine-color-cyan-1);
$mantine-color-cyan-2: var(--mantine-color-cyan-2);
$mantine-color-cyan-3: var(--mantine-color-cyan-3);
$mantine-color-cyan-4: var(--mantine-color-cyan-4);
$mantine-color-cyan-5: var(--mantine-color-cyan-5);
$mantine-color-cyan-6: var(--mantine-color-cyan-6);
$mantine-color-cyan-7: var(--mantine-color-cyan-7);
$mantine-color-cyan-8: var(--mantine-color-cyan-8);
$mantine-color-cyan-9: var(--mantine-color-cyan-9);
$mantine-color-teal-0: var(--mantine-color-teal-0);
$mantine-color-teal-1: var(--mantine-color-teal-1);
$mantine-color-teal-2: var(--mantine-color-teal-2);
$mantine-color-teal-3: var(--mantine-color-teal-3);
$mantine-color-teal-4: var(--mantine-color-teal-4);
$mantine-color-teal-5: var(--mantine-color-teal-5);
$mantine-color-teal-6: var(--mantine-color-teal-6);
$mantine-color-teal-7: var(--mantine-color-teal-7);
$mantine-color-teal-8: var(--mantine-color-teal-8);
$mantine-color-teal-9: var(--mantine-color-teal-9);
$mantine-color-green-0: var(--mantine-color-green-0);
$mantine-color-green-1: var(--mantine-color-green-1);
$mantine-color-green-2: var(--mantine-color-green-2);
$mantine-color-green-3: var(--mantine-color-green-3);
$mantine-color-green-4: var(--mantine-color-green-4);
$mantine-color-green-5: var(--mantine-color-green-5);
$mantine-color-green-6: var(--mantine-color-green-6);
$mantine-color-green-7: var(--mantine-color-green-7);
$mantine-color-green-8: var(--mantine-color-green-8);
$mantine-color-green-9: var(--mantine-color-green-9);
$mantine-color-lime-0: var(--mantine-color-lime-0);
$mantine-color-lime-1: var(--mantine-color-lime-1);
$mantine-color-lime-2: var(--mantine-color-lime-2);
$mantine-color-lime-3: var(--mantine-color-lime-3);
$mantine-color-lime-4: var(--mantine-color-lime-4);
$mantine-color-lime-5: var(--mantine-color-lime-5);
$mantine-color-lime-6: var(--mantine-color-lime-6);
$mantine-color-lime-7: var(--mantine-color-lime-7);
$mantine-color-lime-8: var(--mantine-color-lime-8);
$mantine-color-lime-9: var(--mantine-color-lime-9);
$mantine-color-yellow-0: var(--mantine-color-yellow-0);
$mantine-color-yellow-1: var(--mantine-color-yellow-1);
$mantine-color-yellow-2: var(--mantine-color-yellow-2);
$mantine-color-yellow-3: var(--mantine-color-yellow-3);
$mantine-color-yellow-4: var(--mantine-color-yellow-4);
$mantine-color-yellow-5: var(--mantine-color-yellow-5);
$mantine-color-yellow-6: var(--mantine-color-yellow-6);
$mantine-color-yellow-7: var(--mantine-color-yellow-7);
$mantine-color-yellow-8: var(--mantine-color-yellow-8);
$mantine-color-yellow-9: var(--mantine-color-yellow-9);
$mantine-color-orange-0: var(--mantine-color-orange-0);
$mantine-color-orange-1: var(--mantine-color-orange-1);
$mantine-color-orange-2: var(--mantine-color-orange-2);
$mantine-color-orange-3: var(--mantine-color-orange-3);
$mantine-color-orange-4: var(--mantine-color-orange-4);
$mantine-color-orange-5: var(--mantine-color-orange-5);
$mantine-color-orange-6: var(--mantine-color-orange-6);
$mantine-color-orange-7: var(--mantine-color-orange-7);
$mantine-color-orange-8: var(--mantine-color-orange-8);
$mantine-color-orange-9: var(--mantine-color-orange-9);
$mantine-color-primary: var(--mantine-color-primary);
$mantine-color-secondary: var(--mantine-color-secondary);
$mantine-color-success: var(--mantine-color-success);
$mantine-color-warning: var(--mantine-color-warning);
$mantine-color-danger: var(--mantine-color-danger);

// COLOR-SCHEME DEPENDENT
$mantine-primary-color-contrast: var(--mantine-primary-color-contrast);
$mantine-color-bright: var(--mantine-color-bright);
$mantine-color-text: var(--mantine-color-text);
$mantine-color-body: var(--mantine-color-body);
$mantine-color-error: var(--mantine-color-error);
$mantine-color-placeholder: var(--mantine-color-placeholder);
$mantine-color-anchor: var(--mantine-color-anchor);
$mantine-color-default: var(--mantine-color-default);
$mantine-color-default-hover: var(--mantine-color-default-hover);
$mantine-color-default-color: var(--mantine-color-default-color);
$mantine-color-default-border: var(--mantine-color-default-border);
$mantine-color-dimmed: var(--mantine-color-dimmed);
$mantine-color-dark-text: var(--mantine-color-dark-text);
$mantine-color-dark-filled: var(--mantine-color-dark-filled);
$mantine-color-dark-filled-hover: var(--mantine-color-dark-filled-hover);
$mantine-color-dark-light: var(--mantine-color-dark-light);
$mantine-color-dark-light-hover: var(--mantine-color-dark-light-hover);
$mantine-color-dark-light-color: var(--mantine-color-dark-light-color);
$mantine-color-dark-outline: var(--mantine-color-dark-outline);
$mantine-color-dark-outline-hover: var(--mantine-color-dark-outline-hover);
$mantine-color-gray-text: var(--mantine-color-gray-text);
$mantine-color-gray-filled: var(--mantine-color-gray-filled);
$mantine-color-gray-filled-hover: var(--mantine-color-gray-filled-hover);
$mantine-color-gray-light: var(--mantine-color-gray-light);
$mantine-color-gray-light-hover: var(--mantine-color-gray-light-hover);
$mantine-color-gray-light-color: var(--mantine-color-gray-light-color);
$mantine-color-gray-outline: var(--mantine-color-gray-outline);
$mantine-color-gray-outline-hover: var(--mantine-color-gray-outline-hover);
$mantine-color-red-text: var(--mantine-color-red-text);
$mantine-color-red-filled: var(--mantine-color-red-filled);
$mantine-color-red-filled-hover: var(--mantine-color-red-filled-hover);
$mantine-color-red-light: var(--mantine-color-red-light);
$mantine-color-red-light-hover: var(--mantine-color-red-light-hover);
$mantine-color-red-light-color: var(--mantine-color-red-light-color);
$mantine-color-red-outline: var(--mantine-color-red-outline);
$mantine-color-red-outline-hover: var(--mantine-color-red-outline-hover);
$mantine-color-pink-text: var(--mantine-color-pink-text);
$mantine-color-pink-filled: var(--mantine-color-pink-filled);
$mantine-color-pink-filled-hover: var(--mantine-color-pink-filled-hover);
$mantine-color-pink-light: var(--mantine-color-pink-light);
$mantine-color-pink-light-hover: var(--mantine-color-pink-light-hover);
$mantine-color-pink-light-color: var(--mantine-color-pink-light-color);
$mantine-color-pink-outline: var(--mantine-color-pink-outline);
$mantine-color-pink-outline-hover: var(--mantine-color-pink-outline-hover);
$mantine-color-grape-text: var(--mantine-color-grape-text);
$mantine-color-grape-filled: var(--mantine-color-grape-filled);
$mantine-color-grape-filled-hover: var(--mantine-color-grape-filled-hover);
$mantine-color-grape-light: var(--mantine-color-grape-light);
$mantine-color-grape-light-hover: var(--mantine-color-grape-light-hover);
$mantine-color-grape-light-color: var(--mantine-color-grape-light-color);
$mantine-color-grape-outline: var(--mantine-color-grape-outline);
$mantine-color-grape-outline-hover: var(--mantine-color-grape-outline-hover);
$mantine-color-violet-text: var(--mantine-color-violet-text);
$mantine-color-violet-filled: var(--mantine-color-violet-filled);
$mantine-color-violet-filled-hover: var(--mantine-color-violet-filled-hover);
$mantine-color-violet-light: var(--mantine-color-violet-light);
$mantine-color-violet-light-hover: var(--mantine-color-violet-light-hover);
$mantine-color-violet-light-color: var(--mantine-color-violet-light-color);
$mantine-color-violet-outline: var(--mantine-color-violet-outline);
$mantine-color-violet-outline-hover: var(--mantine-color-violet-outline-hover);
$mantine-color-indigo-text: var(--mantine-color-indigo-text);
$mantine-color-indigo-filled: var(--mantine-color-indigo-filled);
$mantine-color-indigo-filled-hover: var(--mantine-color-indigo-filled-hover);
$mantine-color-indigo-light: var(--mantine-color-indigo-light);
$mantine-color-indigo-light-hover: var(--mantine-color-indigo-light-hover);
$mantine-color-indigo-light-color: var(--mantine-color-indigo-light-color);
$mantine-color-indigo-outline: var(--mantine-color-indigo-outline);
$mantine-color-indigo-outline-hover: var(--mantine-color-indigo-outline-hover);
$mantine-color-blue-text: var(--mantine-color-blue-text);
$mantine-color-blue-filled: var(--mantine-color-blue-filled);
$mantine-color-blue-filled-hover: var(--mantine-color-blue-filled-hover);
$mantine-color-blue-light: var(--mantine-color-blue-light);
$mantine-color-blue-light-hover: var(--mantine-color-blue-light-hover);
$mantine-color-blue-light-color: var(--mantine-color-blue-light-color);
$mantine-color-blue-outline: var(--mantine-color-blue-outline);
$mantine-color-blue-outline-hover: var(--mantine-color-blue-outline-hover);
$mantine-color-cyan-text: var(--mantine-color-cyan-text);
$mantine-color-cyan-filled: var(--mantine-color-cyan-filled);
$mantine-color-cyan-filled-hover: var(--mantine-color-cyan-filled-hover);
$mantine-color-cyan-light: var(--mantine-color-cyan-light);
$mantine-color-cyan-light-hover: var(--mantine-color-cyan-light-hover);
$mantine-color-cyan-light-color: var(--mantine-color-cyan-light-color);
$mantine-color-cyan-outline: var(--mantine-color-cyan-outline);
$mantine-color-cyan-outline-hover: var(--mantine-color-cyan-outline-hover);
$mantine-color-teal-text: var(--mantine-color-teal-text);
$mantine-color-teal-filled: var(--mantine-color-teal-filled);
$mantine-color-teal-filled-hover: var(--mantine-color-teal-filled-hover);
$mantine-color-teal-light: var(--mantine-color-teal-light);
$mantine-color-teal-light-hover: var(--mantine-color-teal-light-hover);
$mantine-color-teal-light-color: var(--mantine-color-teal-light-color);
$mantine-color-teal-outline: var(--mantine-color-teal-outline);
$mantine-color-teal-outline-hover: var(--mantine-color-teal-outline-hover);
$mantine-color-green-text: var(--mantine-color-green-text);
$mantine-color-green-filled: var(--mantine-color-green-filled);
$mantine-color-green-filled-hover: var(--mantine-color-green-filled-hover);
$mantine-color-green-light: var(--mantine-color-green-light);
$mantine-color-green-light-hover: var(--mantine-color-green-light-hover);
$mantine-color-green-light-color: var(--mantine-color-green-light-color);
$mantine-color-green-outline: var(--mantine-color-green-outline);
$mantine-color-green-outline-hover: var(--mantine-color-green-outline-hover);
$mantine-color-lime-text: var(--mantine-color-lime-text);
$mantine-color-lime-filled: var(--mantine-color-lime-filled);
$mantine-color-lime-filled-hover: var(--mantine-color-lime-filled-hover);
$mantine-color-lime-light: var(--mantine-color-lime-light);
$mantine-color-lime-light-hover: var(--mantine-color-lime-light-hover);
$mantine-color-lime-light-color: var(--mantine-color-lime-light-color);
$mantine-color-lime-outline: var(--mantine-color-lime-outline);
$mantine-color-lime-outline-hover: var(--mantine-color-lime-outline-hover);
$mantine-color-yellow-text: var(--mantine-color-yellow-text);
$mantine-color-yellow-filled: var(--mantine-color-yellow-filled);
$mantine-color-yellow-filled-hover: var(--mantine-color-yellow-filled-hover);
$mantine-color-yellow-light: var(--mantine-color-yellow-light);
$mantine-color-yellow-light-hover: var(--mantine-color-yellow-light-hover);
$mantine-color-yellow-light-color: var(--mantine-color-yellow-light-color);
$mantine-color-yellow-outline: var(--mantine-color-yellow-outline);
$mantine-color-yellow-outline-hover: var(--mantine-color-yellow-outline-hover);
$mantine-color-orange-text: var(--mantine-color-orange-text);
$mantine-color-orange-filled: var(--mantine-color-orange-filled);
$mantine-color-orange-filled-hover: var(--mantine-color-orange-filled-hover);
$mantine-color-orange-light: var(--mantine-color-orange-light);
$mantine-color-orange-light-hover: var(--mantine-color-orange-light-hover);
$mantine-color-orange-light-color: var(--mantine-color-orange-light-color);
$mantine-color-orange-outline: var(--mantine-color-orange-outline);
$mantine-color-orange-outline-hover: var(--mantine-color-orange-outline-hover);
