.appShell {
  background-color: light-dark($mantine-color-gray-1, $mantine-color-dark-6);
}

.wrapper {
  padding: $mantine-spacing-md;
}

.pageContainer {
  margin: 0.5rem;
  margin-left: 0;
  box-shadow: $mantine-shadow-sm;
  height: 100%;
  flex: 1;
}
