.container {
  display: flex;
  align-items: center;
  padding-left: calc($mantine-spacing-xl - $mantine-spacing-sm);
  height: rem(40px);

  @include dark {
    border-bottom: 1px solid $mantine-color-dark-6;
  }

  @include light {
    border-bottom: 1px solid $mantine-color-gray-1;
  }
}
